body{
  margin: 0;
}
svg {
  font: 10px sans-serif;
}
.spl-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.spl-axis, text{
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.spl-axis path,
.spl-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.spl-brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.spl-point{
	pointer-events: none;
}

#spl-chart{
	width: 500px;
	height: 200px;
}

.spl-point circle {
  fill: none;
  stroke: #444;
}