svg {
  font: 10px sans-serif;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.point{
	pointer-events: none;
}

#st-chart{
	width: 500px;
	height: 200px;
}